@using Vendr.Core;
@using Vendr.Core.Api;
@using Vendr.Core.Models;
@model OrderReadOnly
@{
    var store = VendrApi.Instance.GetStore(Model.StoreId);
    var paymentMethod = VendrApi.Instance.GetPaymentMethod(Model.PaymentInfo.PaymentMethodId.Value);
    var paymentCountry = VendrApi.Instance.GetCountry(Model.PaymentInfo.CountryId.Value);
    var shippingMethod = VendrApi.Instance.GetShippingMethod(Model.ShippingInfo.ShippingMethodId.Value);
    var shippingCountry = VendrApi.Instance.GetCountry(Model.ShippingInfo.CountryId.Value);

    var baseUrl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}
<style type="text/css">
    #vendr, #vendr td, #vendr p {
        font-family: sans-serif;
        font-size: 14px;
        line-height: 18px;
        color: #5f6a70;
    }
    #vendr td {
        vertical-align: top;
    }
</style>
<div id="vendr" style="font-family: sans-serif; font-size: 14px; line-height: 18px; color: #5f6a70;">
    <table style="background-color: #edf2f7; width: 100%;">
        <tr>
            <td style="padding: 40px;">

                <table style="background-color: white; width: 100%; max-width: 700px; margin: 0 auto;">
                    <tr>
                        <td style="padding: 40px;">
                            <div style="text-align: center;">
                                <a href="https://vendr.demo.outfield.digital" target="_blank"><img src="@(baseUrl)/images/logo.png?mode=max&width=200&height=200" alt="Blendid." border="0" /></a>

                                <hr style="border: 0; height: 1px; background: #ebebe9; margin: 20px 0;" />
                                <h1 style="margin: 0 0 20px; font-size: 20px; line-height: 28px; color: #4fd1c5;">Order Confirmation - #@(Model.OrderNumber)</h1>
                                <p>
                                    Thank you for your order with <a href="https://vendr.demo.outfield.digital" target="_blank" style="color: #4fd1c5;">Blendid</a>, your order details can be found below.
                                </p>
                            </div>

                            <hr style="border: 0; height: 1px; background: #ebebe9; margin: 20px 0;" />

                            <table style="width: 100%; border-collapse: collapse;">
                                <tr>
                                    <td style="width: 50%; padding-bottom: 30px;">
                                        <h2 style="margin: 0 0 20px; font-size: 16px; line-height: 20px;">Customer Information</h2>
                                        <p><strong>@Model.CustomerInfo.FirstName @Model.CustomerInfo.LastName</strong><br />@Model.CustomerInfo.Email</p>
                                    </td>
                                    <td style="width: 50%;"></td>
                                </tr>
                                <tr>
                                    <td style="width: 50%; padding-bottom: 20px;">
                                        <h2 style="margin: 0 0 20px; font-size: 16px; line-height: 20px;">Billing Information</h2>
                                        <p style="margin: 0;">
                                            @{
                                                var billingParts = new[]
                                                {
                                                    $"{Model.CustomerInfo.FirstName} {Model.CustomerInfo.LastName}".Trim(),
                                                    Model.Properties["billingAddressLine1"],
                                                    Model.Properties["billingAddressLine2"],
                                                    Model.Properties["billingCity"],
                                                    Model.Properties["billingZipCode"],
                                                    paymentCountry.Name
                                                };
                                                @Html.Raw(string.Join("<br />", billingParts.Where(x => !string.IsNullOrWhiteSpace(x))))
                                            }
                                        </p>
                                        @if (Model.Properties["billingTelephone"] != null)
                                        {
                                            <p style="margin: 0;padding-top: 10px;">Tel: @Model.Properties["billingTelephone"]</p>
                                        }
                                    </td>
                                    <td style="width: 50%;">
                                        <h2 style="margin: 0 0 20px; font-size: 16px; line-height: 20px;">Shipping Information</h2>
                                        <p style="margin: 0;">
                                            @{
                                                var shippingParts = new[]
                                                {
                                                    $"{Model.Properties["shippingFirstName"]} {Model.Properties["shippingLastName"]}".Trim(),
                                                    Model.Properties["shippingAddressLine1"],
                                                    Model.Properties["shippingAddressLine2"],
                                                    Model.Properties["shippingCity"],
                                                    Model.Properties["shippingZipCode"],
                                                    paymentCountry.Name
                                                };
                                                @Html.Raw(string.Join("<br />", shippingParts.Where(x => !string.IsNullOrWhiteSpace(x))))
                                            }
                                        </p>
                                        @if (Model.Properties["shippingTelephone"] != null)
                                        {
                                            <p style="margin: 0;padding-top: 10px;">Tel: @Model.Properties["shippingTelephone"]</p>
                                        }
                                    </td>
                                </tr>
                            </table>

                            <hr style="border: 0; height: 1px; background: #ebebe9; margin: 20px 0;" />

                            @if (Model.Properties["comments"] != null)
                            {
                                <h2 style="margin: 0 0 20px; font-size: 16px; line-height: 20px;">Comments</h2>
                                <p style="margin: 0;">@Model.Properties["comments"]</p>

                                <hr style="border: 0; height: 1px; background: #ebebe9; margin: 20px 0;" />
                            }

                            <h2 style="margin: 0 0 20px; font-size: 16px; line-height: 20px;">Order Details</h2>
                            <table style="width: 100%; border-collapse: collapse;">
                                <tr>
                                    <td><strong>Name</strong></td>
                                    <td style="text-align: right;"><strong>Price</strong></td>
                                    <td style="text-align: right;"><strong>Quantity</strong></td>
                                    <td style="text-align: right;"><strong>Total</strong></td>
                                </tr>
                                @foreach (var orderLine in Model.OrderLines)
                                {
                                    <tr>
                                        <td style="vertical-align: top;padding-top:20px;">
                                            @orderLine.Name<br /><span style="color:#a0aec0; font-size: 12px;">@orderLine.Sku</span>
                                        </td>
                                        <td style="vertical-align: top;padding-top:20px; text-align: right;">
                                            @orderLine.UnitPrice.Value.Formatted().WithoutTax
                                            @if (orderLine.UnitPrice.Value != orderLine.UnitPrice.WithoutDiscounts)
                                            {
                                                <br />
                                                <span style="color:#a0aec0; font-size: 12px; text-decoration:line-through;">@orderLine.UnitPrice.WithoutDiscounts.Formatted().WithoutTax</span>
                                            }
                                        </td>
                                        <td style="vertical-align: top;padding-top:20px; text-align: right;">
                                            @((int)orderLine.Quantity)
                                        </td>
                                        <td style="vertical-align: top;padding-top:20px; text-align: right;">
                                            @orderLine.TotalPrice.Value.Formatted().WithoutTax
                                            @if (orderLine.TotalPrice.Value != orderLine.TotalPrice.WithoutDiscounts)
                                            {
                                                <br />
                                                <span style="color:#a0aec0; font-size: 12px; text-decoration:line-through;">@orderLine.TotalPrice.WithoutDiscounts.Formatted().WithoutTax</span>
                                            }
                                        </td>
                                    </tr>
                                }
                            </table>
                            <hr style="border: 0; height: 1px; background: #ebebe9; margin: 20px 0;" />
                            <table style="width: 100%; border-collapse: collapse;">
                                <tr>
                                    <td style="vertical-align: top;"><strong>Subtotal</strong></td>
                                    <td style="vertical-align: top; text-align: right; white-space: nowrap;">
                                        <strong>
                                            @Model.SubtotalPrice.WithPreviousDiscounts.Formatted().WithoutTax
                                        </strong>
                                    </td>
                                </tr>
                                @if (Model.SubtotalPrice.TotalDiscount.WithoutTax != 0)
                                {
                                    <tr>
                                        <td style="vertical-align: top;">
                                            Subtotal Discount
                                        </td>
                                        <td style="vertical-align: top; text-align: right; white-space: nowrap;">
                                            -@Model.SubtotalPrice.TotalDiscount.Formatted().WithoutTax
                                        </td>
                                    </tr>
                                }
                                @if (shippingMethod != null)
                                {
                                    <tr>
                                        <td style="vertical-align: top;">
                                            Shipping via @shippingMethod.Name
                                        </td>
                                        <td style="vertical-align: top; text-align: right; white-space: nowrap;">
                                            @if (Model.ShippingInfo.TotalPrice.WithoutDiscounts.WithoutTax != Model.ShippingInfo.TotalPrice.Value.WithoutTax)
                                            {
                                                <text><span style="color:#a0aec0; font-size: 12px; text-decoration:line-through;">@Model.ShippingInfo.TotalPrice.WithoutDiscounts</span> </text>
                                            }
                                            @Model.ShippingInfo.TotalPrice.Value.Formatted().WithoutTax
                                        </td>
                                    </tr>
                                }
                                @if (paymentMethod != null)
                                {
                                    <tr>
                                        <td style="vertical-align: top;">
                                            Payment via @paymentMethod.Name
                                        </td>
                                        <td style="vertical-align: top; text-align: right; white-space: nowrap;">
                                            @if (Model.PaymentInfo.TotalPrice.WithoutDiscounts.WithoutTax != Model.PaymentInfo.TotalPrice.Value.WithoutTax)
                                            {
                                                <text><span style="color:#a0aec0; font-size: 12px; text-decoration:line-through;">@Model.PaymentInfo.TotalPrice.WithoutDiscounts</span> </text>
                                            }
                                            @Model.PaymentInfo.TotalPrice.Value.Formatted().WithoutTax
                                        </td>
                                    </tr>
                                }
                                @if (Model.TransactionInfo.TransactionFee.Value > 0M)
                                {
                                    <tr>
                                        <td style="vertical-align: top;">
                                            Transaction fee
                                        </td>
                                        <td style="vertical-align: top; text-align: right; white-space: nowrap;">
                                            @Model.TransactionInfo.TransactionFee.Formatted()
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <td style="vertical-align: top; padding-top: 20px;"><strong>Net Total</strong></td>
                                    <td style="vertical-align: top; padding-top: 20px; text-align: right; white-space: nowrap;">
                                        <strong>
                                            @Model.TotalPrice.WithPreviousDiscounts.Formatted().WithoutTax
                                        </strong>
                                    </td>
                                </tr>
                                @if (Model.TotalPrice.TotalDiscount.WithoutTax != 0)
                                {
                                    <tr>
                                        <td style="vertical-align: top;">
                                            Net Total Discount
                                        </td>
                                        <td style="vertical-align: top; text-align: right; white-space: nowrap;">
                                            -@Model.TotalPrice.TotalDiscount.Formatted().WithoutTax
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <td style="vertical-align: top;">
                                        TAX
                                    </td>
                                    <td style="vertical-align: top; text-align: right; white-space: nowrap;">
                                        @Model.TotalPrice.Value.Formatted().Tax
                                    </td>
                                </tr>
                                @if (Model.TotalPrice.GiftCardsAmount.Value != 0)
                                {
                                    <tr>
                                        <td style="vertical-align: top;">
                                            Gift Card<br />
                                            <style class="color:#a0aec0; font-size: 12px;">@(string.Join(", ", Model.GiftCards.Select(x => x.Code)))</style>
                                        </td>
                                        <td style="vertical-align: top; text-align: right; white-space: nowrap;">
                                            -@Model.TotalPrice.GiftCardsAmount.Formatted()
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <td style="vertical-align: top; padding-top: 20px;">
                                        <strong style="color: #4fd1c5;">Order Total</strong>
                                    </td>
                                    <td style="vertical-align: top; padding-top: 20px; text-align: right; white-space: nowrap;">
                                        <strong style="color: #4fd1c5;">
                                            @Model.TotalPrice.Value.Formatted()
                                        </strong>
                                    </td>
                                </tr>
                            </table>
                            <hr style="border: 0; height: 1px; background: #ebebe9; margin: 20px 0;" />
                            <p style="text-align: center;">
                                <a href="@(baseUrl)/terms-and-conditions" target="_blank" style="color: #4fd1c5;">Terms of Service</a> | <a href="@(baseUrl)/privacy-and-cookies-policy" target="_blank" style="color: #4fd1c5;">Privacy Policy</a>
                            </p>
                            <p style="text-align: center; margin-bottom: 0;">Blendid Ltd, 10 Brew Street, Sheffield, S1 2OD</p>

                        </td>
                    </tr>

                </table>

            </td>
        </tr>
    </table>
</div>