@using Vendr.Extensions;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Vendr.DemoStore.Models.CheckoutReviewPage>
@{
    Layout = "CheckoutStepPage.cshtml";
}

@await Html.PartialAsync("OrderInformationSummary")

@using (await Html.BeginPaymentFormAsync(Model.Order)) 
{
    <div class="border border-gray-300 rounded">
        <label class="flex items-center py-4 px-4 cursor-pointer hover:bg-gray-100">
            <input id="acceptTerms" type="checkbox" value="1" class="mr-3" />
            <span class="font-medium">I agree and accept the sites terms of service</span>
        </label>
    </div>

    <div class="flex flex-col-reverse items-center justify-between mt-8 md:flex-row">
        @if (Model.PreviousStep != null)
        {
            <div><a href="@(Model.PreviousStep.Url())" class="text-@(Model.CheckoutPage.PrimaryColor) hover:text-gray-900 hover:underline"><i class="fa fa-angle-left"></i> Return to @(Model.PreviousStep.Name)</a></div>
        }
        else
        {
            <div><a href="@(Model.HomePage.CartPage.Url())" class="text-@(Model.CheckoutPage.PrimaryColor) hover:text-gray-900 hover:underline"><i class="fa fa-angle-left"></i> Return to Cart</a></div>
        }
        <div class="mb-4 w-full md:mb-0 md:w-auto text-center">
            <div id="continue-disabled" class="bg-gray-200 text-white px-4 py-4 w-full rounded cursor-not-allowed">Continue to @(Model.NextStep.Name)</div>
            <button id="continue" class="bg-@(Model.CheckoutPage.PrimaryColor) text-white px-4 py-4 w-full rounded hover:bg-gray-900" type="submit" style="display: none;">Continue to @(Model.NextStep.Name)</button>
        </div>
    </div>
}