@using Vendr.Core.Web;
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Vendr.DemoStore.Models.CheckoutReviewPage>
@{
    Layout = "CheckoutStepPage.cshtml";
}

@Html.Partial("OrderInformationSummary")

@using (Html.BeginPaymentForm(Model.Order))
{
    <div class="border border-gray-300 rounded">
        <label class="flex items-center py-4 px-4 cursor-pointer hover:bg-gray-100">
            <input name="acceptTerms" type="checkbox" value="1" class="mr-3"  />
            <span class="font-medium">I agree and accept the sites terms of service</span>
        </label>
    </div>

    <div class="flex items-center justify-between mt-8">
        @if (Model.PreviousStep != null)
        {
            <div><a href="@(Model.PreviousStep.Url)" class="text-@(Model.CheckoutPage.PrimaryColor) hover:text-gray-900 hover:underline"><i class="fa fa-angle-left"></i> Return to @(Model.PreviousStep.Name)</a></div>
        }
        else
        {
            <div><a href="@(Model.HomePage.CartPage.Url)" class="text-@(Model.CheckoutPage.PrimaryColor) hover:text-gray-900 hover:underline"><i class="fa fa-angle-left"></i> Return to Cart</a></div>
        }
        <div>
            <div id="continue-disabled" class="ml-4 bg-gray-200 text-white px-4 py-4 rounded cursor-not-allowed">Continue to @(Model.NextStep.Name)</div>
            <button id="continue" class="ml-4 bg-@(Model.CheckoutPage.PrimaryColor) text-white px-4 py-4 rounded hover:bg-gray-900" type="submit" style="display: none;">Continue to @(Model.NextStep.Name)</button>
        </div>
    </div>
}