@using Vendr.Extensions;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Vendr.DemoStore.Models.CheckoutShippingMethodPage>
@{
    Layout = "CheckoutStepPage.cshtml";
}

@using (Html.BeginUmbracoForm("UpdateOrderShippingMethod", "CheckoutSurface"))
{
    <input type="hidden" name="nextStep" value="@(Model.NextStep?.Key)" />

    <h3 class="text-xl font-medium mb-4">Shipping Method</h3>
    <ul class="border border-gray-300 rounded">
        @foreach (var item in Model.ShippingMethods.Select((sm, i) => new { ShippingMethod = sm, Index = i }))
        {
            <li class="border-gray-300 @(item.Index > 0 ? "border-t " : "")">
                <label class="flex items-center py-4 px-4 cursor-pointer hover:bg-gray-100">
                    <input name="shippingMethod" type="radio" value="@item.ShippingMethod.Id" class="mr-3" @Html.Raw((Model.Order.ShippingInfo.ShippingMethodId.HasValue && Model.Order.ShippingInfo.ShippingMethodId.Value == item.ShippingMethod.Id) || (!Model.Order.ShippingInfo.ShippingMethodId.HasValue && Model.ShippingCountry != null && Model.ShippingCountry.DefaultShippingMethodId == item.ShippingMethod.Id) ? "checked=\"checked\"" : "") required />
                    <span class="font-medium">@(item.ShippingMethod.Name)</span>
                    <span class="flex-1 text-right">@(item.ShippingMethod.CalculatePrice()?.Formatted())</span>
                </label>
            </li>
        }
    </ul>

    @await Html.PartialAsync("CheckoutPrevNext")
}