@using Vendr.DemoStore.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Vendr.DemoStore.Models.Page>
@{
    Layout = "Master.cshtml";
}

@section head {
    @RenderSection("head", false)
}

@section foot {
    <script src="/scripts/main.js"></script>
    @RenderSection("foot", false)
}

<div class="border-t-8 border-teal-400 text-grey">
    <div class="mx-auto max-w-6xl p-4">

        <header>

            <!-- Top Bar -->
            <div class="border-b-4 border-gray-300 pb-2 -mt-2 md:mt-0">
                <div class="flex justify-between w-full text-2xl md:hidden">
                    <a href="@Model.HomePage.SearchPage.Url()"><i class="fa fa-search"></i></a>
                    <a href="@Model.HomePage.CartPage.Url()"><i class="fa fa-shopping-cart"></i></a>
                </div>
                <div class="hidden w-full md:flex">
                    <form action="@Model.HomePage.SearchPage.Url()" method="get" class="flex flex-1 m-0"><button type="submit" class="mr-2 hover:text-teal-400"><i class="fa fa-search"></i></button><input type="text" name="q" class="flex-1 p-1" placeholder="Search..." /></form>
                    <div class="pl-6"><a href="@Model.HomePage.CartPage.Url()" class="hover:text-teal-400"><i class="fa fa-shopping-cart"></i> Cart @(await Component.InvokeAsync("CartCount", new { currentPage = Model }))</a></div>
                </div>
            </div>

            <a href="/" class="inline-block py-6 hover:text-teal-400 w-full md:w-1/4">
                <svg xmlns="http://www.w3.org/2000/svg" width="230" height="68" viewBox="0 0 60.854 17.992" class="fill-current w-full h-16">
                    <path fill="#4FD1C5" d="M 0.423,0.425 H 17.554 V 17.57 H 0.423 Z" />
                    <path fill="#ffffff" d="m 6.223,0.487 v 6.53 H 3.594 A 0.533,0.533 0 0 0 3.061,7.551 v 6.845 c 0,0.296 0.238,0.534 0.533,0.534 H 9.116 A 0.532,0.532 0 0 0 9.649,14.396 V 7.551 A 0.533,0.533 0 0 0 9.116,7.017 h -2.63 v -6.53 z m -1.2,7.436 h 2.65 c 0.201,-0.004 0.201,0.301 0,0.297 H 5.037 C 4.84,8.229 4.826,7.933 5.023,7.923 Z" />
                    <path fill="#1a1a1a" d="M 0,0 V 17.992 H 60.854 V 0 Z m 0.846,0.847 h 16.28 v 16.3 H 0.846 Z m 17.136,0 H 60.01 V 13.194 H 17.982 Z m 0,13.184 H 60.01 v 3.116 H 17.982 Z" />
                    <path d="m 56.78,10.883 c 0.549,0 1.002,-0.453 1.002,-1.002 0,-0.549 -0.453,-1.002 -1.001,-1.002 -0.548,0 -1.002,0.453 -1.002,1.002 0,0.549 0.454,1.002 1.002,1.002 z" />
                    <path fill="#1a1a1a" d="m 28.462226,15.125972 a 0.50000001,0.50000001 0 0 0 -0.513155,0.51419 0.50000001,0.50000001 0 0 0 0.513155,0.513673 c 0.18,0 0.338718,-0.08893 0.422722,-0.22893 l -0.193792,-0.112657 a 0.254,0.254 0 0 1 -0.22893,0.121959 c -0.175001,0 -0.288359,-0.117045 -0.288359,-0.294045 0,-0.176 0.113358,-0.293011 0.288359,-0.293011 0.1,0 0.184932,0.04489 0.22893,0.119892 l 0.193792,-0.11214 a 0.492,0.492 0 0 0 -0.422722,-0.228931 z m 6.513935,0 c -0.170001,0 -0.331251,0.110279 -0.331251,0.301279 0,0.190001 0.143909,0.259763 0.289909,0.300763 0.149,0.041 0.205159,0.06406 0.205159,0.125059 0,0.038 -0.02684,0.08113 -0.133845,0.08113 a 0.207,0.207 0 0 1 -0.207225,-0.137461 l -0.194824,0.113173 c 0.055,0.145 0.186815,0.243917 0.394816,0.243917 0.213998,0 0.365875,-0.112829 0.365875,-0.302829 0,-0.21 -0.166783,-0.261964 -0.316784,-0.306964 -0.153998,-0.047 -0.176734,-0.07699 -0.176734,-0.122992 0,-0.04 0.0349,-0.0739 0.104904,-0.0739 0.09,0 0.137051,0.04369 0.171051,0.113691 l 0.189657,-0.111623 a 0.38299999,0.38299999 0 0 0 -0.359674,-0.223247 z m 3.745061,0 c -0.170001,0 -0.332286,0.110279 -0.332286,0.301279 0,0.190001 0.144944,0.259763 0.290944,0.300763 0.148,0.041 0.205159,0.06406 0.205159,0.125059 0,0.038 -0.02685,0.08113 -0.133844,0.08113 a 0.207,0.207 0 0 1 -0.20826,-0.137461 l -0.19379,0.113173 c 0.055,0.145 0.186781,0.243917 0.393781,0.243917 0.214999,0 0.36691,-0.112829 0.36691,-0.302829 0,-0.21 -0.167783,-0.261964 -0.316784,-0.306964 -0.154,-0.047 -0.178287,-0.07699 -0.178287,-0.122992 0,-0.04 0.03545,-0.0739 0.106457,-0.0739 0.09,0 0.137017,0.04369 0.170017,0.113691 l 0.190691,-0.111623 a 0.38299999,0.38299999 0 0 0 -0.360708,-0.223247 z m 12.735892,0 c -0.171001,0 -0.332286,0.110279 -0.332286,0.301279 0,0.190001 0.144428,0.259763 0.290428,0.300763 0.149,0.041 0.204643,0.06406 0.204643,0.125059 0,0.038 -0.02585,0.08113 -0.133845,0.08113 a 0.207,0.207 0 0 1 -0.207228,-0.137461 l -0.194821,0.113173 c 0.055,0.145 0.187815,0.243917 0.394813,0.243917 0.215002,0 0.367428,-0.112829 0.367426,-0.302829 0,-0.21 -0.168297,-0.261964 -0.317297,-0.306964 -0.154001,-0.047 -0.177772,-0.07699 -0.177772,-0.122992 0,-0.04 0.03494,-0.0739 0.105939,-0.0739 0.09,0 0.136019,0.04369 0.170019,0.113691 l 0.189657,-0.111623 a 0.38299999,0.38299999 0 0 0 -0.359676,-0.223247 z m 3.106845,0 c -0.137001,0 -0.269835,0.07004 -0.333836,0.217045 l 0.189657,0.110073 c 0.028,-0.061 0.07725,-0.105939 0.146246,-0.105939 0.066,0 0.105938,0.04187 0.105938,0.103872 0,0.058 -0.04174,0.116186 -0.09974,0.175186 l -0.332282,0.344689 v 0.1633 h 0.671805 v -0.217045 h -0.330735 l 0.162785,-0.165368 c 0.09,-0.09 0.153998,-0.191581 0.153998,-0.310581 0,-0.199 -0.157837,-0.315232 -0.333836,-0.315232 z m 1.246975,0 c -0.255999,0 -0.402049,0.21019 -0.402049,0.51419 0,0.305 0.14605,0.513673 0.402049,0.513673 0.255,0 0.40205,-0.208673 0.40205,-0.513673 0,-0.305 -0.14705,-0.51419 -0.40205,-0.51419 z m 2.182853,0 c -0.255999,0 -0.402049,0.21019 -0.402049,0.51419 0,0.305 0.14605,0.513673 0.402049,0.513673 0.255,0 0.40205,-0.208673 0.40205,-0.513673 0,-0.305 -0.14705,-0.51419 -0.40205,-0.51419 z m -38.594742,0.02015 v 0.218078 h 0.252703 v 0.769994 h 0.226347 v -0.769994 h 0.253736 v -0.218078 z m 1.250076,0 v 0.988072 h 0.620129 v -0.217046 h -0.395332 v -0.175186 h 0.351923 v -0.214978 h -0.351923 v -0.162784 h 0.387064 v -0.218078 z m 1.429914,0 -0.335903,0.988072 h 0.247018 l 0.04961,-0.155033 h 0.366393 l 0.04909,0.155033 h 0.246501 l -0.335903,-0.988072 z m 1.89811,0 v 0.988072 h 0.224797 v -0.57517 l 0.255286,0.420137 h 0.02584 l 0.25477,-0.420137 v 0.57517 h 0.226347 V 15.146126 H 24.737838 L 24.470149,15.5859 24.201943,15.146126 Z m 1.575644,0 v 0.988072 h 0.620129 v -0.217046 h -0.394816 v -0.175186 h 0.352957 v -0.214978 h -0.352957 v -0.162784 h 0.388097 v -0.218078 z m 1.165325,0 v 0.988072 h 0.225831 v -0.325051 h 0.10697 l 0.18604,0.325051 h 0.24185 l -0.209811,-0.363292 a 0.32600001,0.32600001 0 0 0 0.182939,-0.285776 0.33799999,0.33799999 0 0 0 -0.340038,-0.339004 z m 2.691875,0 v 0.988072 h 0.225831 v -0.392232 h 0.310063 v 0.392232 h 0.226348 v -0.988072 h -0.226348 v 0.377762 H 29.63582 v -0.377762 z m 1.600965,0 -0.335902,0.988072 h 0.247016 l 0.05013,-0.155033 h 0.365876 l 0.05013,0.155033 h 0.245985 l -0.335392,-0.988072 z m 1.127085,0 v 0.988072 h 0.224797 v -0.536412 l 0.381378,0.536412 h 0.168984 v -0.988072 h -0.225313 v 0.536928 l -0.380861,-0.536928 z m 1.292969,0 v 0.218078 h 0.253735 v 0.769994 h 0.226347 v -0.769994 h 0.252703 v -0.218078 z m 6.203869,0 v 0.988072 h 0.226347 v -0.392232 h 0.309547 v 0.392232 h 0.226348 v -0.988072 h -0.226348 v 0.377762 h -0.309547 v -0.377762 z m 1.350331,0 v 0.988072 h 0.61961 v -0.217046 h -0.393781 v -0.175186 h 0.351924 v -0.214978 h -0.351924 v -0.162784 h 0.388098 v -0.218078 z m 1.165842,0 v 0.988072 h 0.225829 v -0.363292 h 0.365878 V 15.55386 h -0.365878 v -0.189656 h 0.373112 v -0.218078 z m 2.671204,0 v 0.668705 c 0,0.212 0.163862,0.339004 0.380861,0.339004 0.217002,0 0.37983,-0.127004 0.37983,-0.339004 v -0.668705 h -0.224797 v 0.650101 c 0,0.074 -0.03503,0.137979 -0.155033,0.137979 -0.119998,0 -0.15503,-0.06401 -0.15503,-0.139012 v -0.649068 z m 1.343614,0 v 0.988072 h 0.225312 v -0.457345 l 0.315749,0.457345 h 0.256836 l -0.346756,-0.506955 0.33177,-0.480083 h -0.255804 l -0.301795,0.427889 v -0.428923 z m 3.801905,0 v 0.988072 h 0.620129 v -0.217046 h -0.393784 v -0.175186 h 0.351923 v -0.214978 h -0.351923 v -0.162784 h 0.387066 v -0.218078 z m 2.304294,0 v 0.218078 h 0.254769 v 0.769994 h 0.225313 v -0.769994 h 0.253737 v -0.218078 z m 4.647865,0 -0.25787,0.09302 0.05478,0.19379 0.175186,-0.04806 v 0.750356 h 0.225829 V 15.146126 Z M 55.8099,15.347151 h 0.0011 c 0.119237,6.35e-4 0.176221,0.103637 0.176221,0.294044 0,0.19 -0.05822,0.293011 -0.176221,0.293011 -0.119001,0 -0.175702,-0.103011 -0.175702,-0.293011 0,-0.189403 0.05643,-0.293393 0.174668,-0.294044 z m 2.182853,0 h 0.0011 c 0.119237,6.35e-4 0.176221,0.103637 0.176221,0.294044 0,0.19 -0.05822,0.293011 -0.176221,0.293011 -0.119001,0 -0.175702,-0.103011 -0.175702,-0.293011 0,-0.189403 0.05643,-0.293392 0.174668,-0.294044 z m -31.048808,0.01085 h 0.168984 c 0.062,0 0.113173,0.05513 0.113173,0.127127 0,0.072 -0.05117,0.127126 -0.113173,0.127126 H 26.94291 Z m -4.721764,0.04703 0.115757,0.361741 h -0.230997 z m 8.932953,0 0.114725,0.361741 h -0.229964 z m 5.701051,0.02274 v 0.001 a 0.21161887,0.21161887 0 0 0 0,0.423238 0.211,0.211 0 0 0 0.208776,-0.213944 0.208,0.208 0 0 0 -0.208776,-0.210327 z m 11.570049,0 v 0.001 a 0.211,0.211 0 0 0 -0.214459,0.209294 c 0,0.118 0.09646,0.213944 0.214459,0.213944 a 0.212,0.212 0 0 0 0.209811,-0.213944 0.208,0.208 0 0 0 -0.209811,-0.210327 z m -5.159987,0.488352 -0.05633,0.416002 h 0.168985 l 0.11214,-0.416002 z" />
                    <path fill="#1a1a1a" d="m 27.056085,3.0329461 v 7.7030319 h 1.580812 V 3.0329461 Z m 20.998072,0.06408 a 0.95900001,0.95900001 0 0 0 -0.949313,0.9498305 c 0,0.516 0.433347,0.9503472 0.950348,0.9503472 A 0.95999999,0.95999999 0 0 0 49.002955,4.0468564 0.95900001,0.95900001 0 0 0 48.054157,3.0970261 Z m -26.923919,0.253219 v 7.3857329 h 3.09961 c 1.317,0 2.382327,-0.8552158 2.382327,-2.1632157 0,-0.7500002 -0.358421,-1.3195955 -0.906421,-1.6665961 0.4,-0.3489998 0.643384,-0.8339331 0.643384,-1.4459331 0,-1.2760001 -1.044134,-2.109988 -2.330134,-2.109988 z m 23.734908,0 v 2.6055742 c -0.347999,-0.4 -0.864991,-0.6428669 -1.570992,-0.6428669 -1.381,0 -2.520306,1.2128947 -2.520306,2.7848946 0,1.572 1.139306,2.785412 2.520306,2.785411 0.706001,0 1.222958,-0.242383 1.569958,-0.643383 v 0.496103 h 1.581846 V 3.3502451 Z m 8.620823,0 v 2.6055742 c -0.348,-0.4 -0.864961,-0.6428669 -1.569959,-0.6428669 -1.381999,0 -2.51979,1.2128947 -2.51979,2.7848946 0,1.572 1.137791,2.785412 2.51979,2.785411 0.704998,0 1.221959,-0.242383 1.569959,-0.643383 v 0.496103 H 55.06678 V 3.3502451 Z M 22.815954,4.9331236 h 1.20305 c 0.39,0 0.642867,0.2737191 0.642867,0.6537189 0,0.38 -0.263867,0.654236 -0.642867,0.654236 h -1.202016 z m 9.175837,0.3798288 c -1.664998,0 -2.804014,1.2128947 -2.804014,2.7848946 0,1.572 1.118288,2.785412 2.92029,2.785411 1.001998,0 1.782092,-0.369258 2.298092,-1.0862584 L 33.142131,9.0688652 c -0.211001,0.232 -0.580361,0.3999828 -1.01236,0.3999828 -0.580001,0 -1.064581,-0.188953 -1.265581,-0.737953 h 3.742995 c 0.042,-0.2000001 0.06305,-0.4110481 0.06305,-0.633048 0,-1.593 -1.139439,-2.7848946 -2.67844,-2.7848946 z m 6.32118,0 c -0.696,0 -1.222948,0.2528667 -1.507947,0.6428669 V 5.4602331 h -1.579777 v 5.2757449 h 1.579777 V 7.8559967 c 0,-0.7499999 0.400835,-1.087809 0.980837,-1.087809 0.506001,0 0.917274,0.306649 0.917274,0.9596491 v 3.0081412 h 1.581844 V 7.4958053 c 0,-1.4239998 -0.907009,-2.1828529 -1.972008,-2.1828529 z m 8.950006,0.1472807 v 5.2757449 h 1.581847 V 5.4602331 Z M 31.981972,6.7159934 c 0.474002,0 0.949266,0.2220396 1.117266,0.8330397 h -2.266052 c 0.148,-0.538 0.547787,-0.8330391 1.148786,-0.8330397 z m 11.627931,0.095087 c 0.727999,0 1.255243,0.4957669 1.255243,1.2867669 0,0.791 -0.527244,1.2872837 -1.255243,1.2872837 -0.727001,0 -1.253693,-0.4962837 -1.253693,-1.2872837 0,-0.791 0.526692,-1.2867675 1.253693,-1.2867669 z m 8.621338,0 c 0.728001,0 1.254728,0.4957669 1.254728,1.2867669 0,0.791 -0.526727,1.2872837 -1.254728,1.2872837 -0.726999,0 -1.254209,-0.4962837 -1.254209,-1.2872837 0,-0.791 0.52721,-1.2867675 1.254209,-1.2867669 z M 22.816988,7.7392059 h 1.411826 c 0.422,0 0.696095,0.2959467 0.696095,0.7069467 0,0.4120001 -0.274095,0.7069467 -0.696095,0.7069467 h -1.411826 z" />
                </svg>
            </a>

        </header>

        <div class="mb-6 md:flex">

            <aside class="border-t-4 border-gray-300 md:w-1/4 md:mr-4 ">

                <a href="#" id="menu-toggle" class="block text-center text-2xl py-4 md:hidden">
                    <span id="menu-toggle-icon__menu"><i class="fa fa-bars"></i></span>
                    <span id="menu-toggle-icon__close" class="hidden"><i class="fa fa-times"></i></span>
                </a>

                <nav id="menu" role="menu" class="hidden border-t-4 border-gray-300 md:block md:border-0">

                    <!-- Nav -->
                    <ul>
                        <li class="border-b border-gray-300 text-center md:text-left"><a href="/" class="block py-2 @(Model.ContentType.Alias == HomePage.ModelTypeAlias ? "font-bold" : "")">Home</a></li>
                        @if (Model.HomePage.CategoryPages != null)
                        {
                            foreach (var category in Model.HomePage.CategoryPages)
                            {
                                <li class="border-b border-gray-300 text-center md:text-left"><a href="@category.Url()" class="block py-2 hover:text-teal-400 @(category.Id == Model.Id ? "font-bold" : "")">@category.Name</a></li>
                            }
                        }
                    </ul>

                    <!-- Social Links -->
                    <div class="flex w-full justify-center pt-4 pb-6 md:justify-start">
                        <a href="https://facebook.com" target="_blank" class="text-2xl pr-2 hover:text-teal-400"><i class="fa fa-facebook-square"></i></a>
                        <a href="https://twitter.com" target="_blank" class="text-2xl pr-2 hover:text-teal-400"><i class="fa fa-twitter"></i></a>
                        <a href="https://instagram.com" target="_blank" class="text-2xl pr-2 hover:text-teal-400"><i class="fa fa-instagram"></i></a>
                        <a href="https://pinterest.com" target="_blank" class="text-2xl hover:text-teal-400"><i class="fa fa-pinterest"></i></a>
                    </div>

                </nav>

            </aside>

            <div class="flex-1 border-t-4 border-gray-300">

                <!-- Breadcrumb -->
                @(await Html.PartialAsync("Breadcrumb"))

                <!-- Body -->
                <div class="">
                    @RenderBody()
                </div>

            </div>

        </div>

        <footer>
            <div class="border-t-4 border-gray-300 py-10 md:flex">
                <div class="mb-10 md:W-1/4 md:mr-4 md:mb-0">
                    <h4 class="text-lg font-bold mb-2">Links</h4>
                    <ul>
                        <li><a href="/" class="hover:text-teal-400">Home</a></li>
                        @foreach (var lnk in Model.HomePage.SiteFooterLinks)
                        {
                            <li><a href="@lnk.Url()" class="hover:text-teal-400">@lnk.Name</a></li>
                        }
                    </ul>
                </div>
                <div class="md:w-1/2">
                    <h4 class="text-lg font-bold mb-2">Subscribe to newsletter</h4>
                    <p class="mb-4">Sign up for the latest news, offers and updates</p>
                    <form class="flex w-full">
                        <input type="email" placeholder="Your email" class="flex-1 bg-gray-200 px-4 py-2" />
                        <button type="submit" class="bg-gray-900 text-white px-4 py-2 hover:bg-teal-400">Subscribe</button>
                    </form>
                </div>
            </div>
            <div class="border-t border-gray-300 pt-2 md:flex md:justify-between md:items-center">
                <div class="text-center text-xs text-gray-500 mb-4 md:mb-0">Copyright &copy; @(DateTime.Now.Year) Outfield Digital Ltd</div>
                <ul class="flex  justify-center">
                    <li class="px-1"><svg viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" width="38" height="24" aria-labelledby="pi-visa"><title id="pi-visa">Visa</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><path d="M28.3 10.1H28c-.4 1-.7 1.5-1 3h1.9c-.3-1.5-.3-2.2-.6-3zm2.9 5.9h-1.7c-.1 0-.1 0-.2-.1l-.2-.9-.1-.2h-2.4c-.1 0-.2 0-.2.2l-.3.9c0 .1-.1.1-.1.1h-2.1l.2-.5L27 8.7c0-.5.3-.7.8-.7h1.5c.1 0 .2 0 .2.2l1.4 6.5c.1.4.2.7.2 1.1.1.1.1.1.1.2zm-13.4-.3l.4-1.8c.1 0 .2.1.2.1.7.3 1.4.5 2.1.4.2 0 .5-.1.7-.2.5-.2.5-.7.1-1.1-.2-.2-.5-.3-.8-.5-.4-.2-.8-.4-1.1-.7-1.2-1-.8-2.4-.1-3.1.6-.4.9-.8 1.7-.8 1.2 0 2.5 0 3.1.2h.1c-.1.6-.2 1.1-.4 1.7-.5-.2-1-.4-1.5-.4-.3 0-.6 0-.9.1-.2 0-.3.1-.4.2-.2.2-.2.5 0 .7l.5.4c.4.2.8.4 1.1.6.5.3 1 .8 1.1 1.4.2.9-.1 1.7-.9 2.3-.5.4-.7.6-1.4.6-1.4 0-2.5.1-3.4-.2-.1.2-.1.2-.2.1zm-3.5.3c.1-.7.1-.7.2-1 .5-2.2 1-4.5 1.4-6.7.1-.2.1-.3.3-.3H18c-.2 1.2-.4 2.1-.7 3.2-.3 1.5-.6 3-1 4.5 0 .2-.1.2-.3.2M5 8.2c0-.1.2-.2.3-.2h3.4c.5 0 .9.3 1 .8l.9 4.4c0 .1 0 .1.1.2 0-.1.1-.1.1-.1l2.1-5.1c-.1-.1 0-.2.1-.2h2.1c0 .1 0 .1-.1.2l-3.1 7.3c-.1.2-.1.3-.2.4-.1.1-.3 0-.5 0H9.7c-.1 0-.2 0-.2-.2L7.9 9.5c-.2-.2-.5-.5-.9-.6-.6-.3-1.7-.5-1.9-.5L5 8.2z" fill="#142688"></path></svg></li>
                    <li class="px-1"><svg viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" width="38" height="24" aria-labelledby="pi-master"><title id="pi-master">Mastercard</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><circle fill="#EB001B" cx="15" cy="12" r="7"></circle><circle fill="#F79E1B" cx="23" cy="12" r="7"></circle><path fill="#FF5F00" d="M22 12c0-2.4-1.2-4.5-3-5.7-1.8 1.3-3 3.4-3 5.7s1.2 4.5 3 5.7c1.8-1.2 3-3.3 3-5.7z"></path></svg></li>
                    <li class="px-1"><svg viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" width="38" height="24" aria-labelledby="pi-american_express"><title id="pi-american_express">American Express</title><g fill="none"><path fill="#000" d="M35,0 L3,0 C1.3,0 0,1.3 0,3 L0,21 C0,22.7 1.4,24 3,24 L35,24 C36.7,24 38,22.7 38,21 L38,3 C38,1.3 36.6,0 35,0 Z" opacity=".07"></path><path fill="#006FCF" d="M35,1 C36.1,1 37,1.9 37,3 L37,21 C37,22.1 36.1,23 35,23 L3,23 C1.9,23 1,22.1 1,21 L1,3 C1,1.9 1.9,1 3,1 L35,1"></path><path fill="#FFF" d="M8.971,10.268 L9.745,12.144 L8.203,12.144 L8.971,10.268 Z M25.046,10.346 L22.069,10.346 L22.069,11.173 L24.998,11.173 L24.998,12.412 L22.075,12.412 L22.075,13.334 L25.052,13.334 L25.052,14.073 L27.129,11.828 L25.052,9.488 L25.046,10.346 L25.046,10.346 Z M10.983,8.006 L14.978,8.006 L15.865,9.941 L16.687,8 L27.057,8 L28.135,9.19 L29.25,8 L34.013,8 L30.494,11.852 L33.977,15.68 L29.143,15.68 L28.065,14.49 L26.94,15.68 L10.03,15.68 L9.536,14.49 L8.406,14.49 L7.911,15.68 L4,15.68 L7.286,8 L10.716,8 L10.983,8.006 Z M19.646,9.084 L17.407,9.084 L15.907,12.62 L14.282,9.084 L12.06,9.084 L12.06,13.894 L10,9.084 L8.007,9.084 L5.625,14.596 L7.18,14.596 L7.674,13.406 L10.27,13.406 L10.764,14.596 L13.484,14.596 L13.484,10.661 L15.235,14.602 L16.425,14.602 L18.165,10.673 L18.165,14.603 L19.623,14.603 L19.647,9.083 L19.646,9.084 Z M28.986,11.852 L31.517,9.084 L29.695,9.084 L28.094,10.81 L26.546,9.084 L20.652,9.084 L20.652,14.602 L26.462,14.602 L28.076,12.864 L29.624,14.602 L31.499,14.602 L28.987,11.852 L28.986,11.852 Z"></path></g></svg></li>
                    <li class="px-1"><svg viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" width="38" height="24" aria-labelledby="pi-paypal"><title id="pi-paypal">PayPal</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><path fill="#003087" d="M23.9 8.3c.2-1 0-1.7-.6-2.3-.6-.7-1.7-1-3.1-1h-4.1c-.3 0-.5.2-.6.5L14 15.6c0 .2.1.4.3.4H17l.4-3.4 1.8-2.2 4.7-2.1z"></path><path fill="#3086C8" d="M23.9 8.3l-.2.2c-.5 2.8-2.2 3.8-4.6 3.8H18c-.3 0-.5.2-.6.5l-.6 3.9-.2 1c0 .2.1.4.3.4H19c.3 0 .5-.2.5-.4v-.1l.4-2.4v-.1c0-.2.3-.4.5-.4h.3c2.1 0 3.7-.8 4.1-3.2.2-1 .1-1.8-.4-2.4-.1-.5-.3-.7-.5-.8z"></path><path fill="#012169" d="M23.3 8.1c-.1-.1-.2-.1-.3-.1-.1 0-.2 0-.3-.1-.3-.1-.7-.1-1.1-.1h-3c-.1 0-.2 0-.2.1-.2.1-.3.2-.3.4l-.7 4.4v.1c0-.3.3-.5.6-.5h1.3c2.5 0 4.1-1 4.6-3.8v-.2c-.1-.1-.3-.2-.5-.2h-.1z"></path></svg></li>
                    <li class="px-1"><svg viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" width="38" height="24" aria-labelledby="pi-diners_club"><title id="pi-diners_club">Diners Club</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><path d="M12 12v3.7c0 .3-.2.3-.5.2-1.9-.8-3-3.3-2.3-5.4.4-1.1 1.2-2 2.3-2.4.4-.2.5-.1.5.2V12zm2 0V8.3c0-.3 0-.3.3-.2 2.1.8 3.2 3.3 2.4 5.4-.4 1.1-1.2 2-2.3 2.4-.4.2-.4.1-.4-.2V12zm7.2-7H13c3.8 0 6.8 3.1 6.8 7s-3 7-6.8 7h8.2c3.8 0 6.8-3.1 6.8-7s-3-7-6.8-7z" fill="#3086C8"></path></svg></li>
                    <li class="px-1"><svg viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" width="38" height="24" aria-labelledby="pi-discover"><title id="pi-discover">Discover</title><path d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z" fill="#000" opacity=".07"></path><path d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32" fill="#FFF"></path><path d="M37 16.95V21c0 1.1-.9 2-2 2H23.228c7.896-1.815 12.043-4.601 13.772-6.05z" fill="#EDA024"></path><path fill="#494949" d="M9 11h20v2H9z"></path><path d="M22 12c0 1.7-1.3 3-3 3s-3-1.4-3-3 1.4-3 3-3c1.7 0 3 1.3 3 3z" fill="#EDA024"></path></svg></li>
                </ul>
            </div>
        </footer>

    </div>

</div>