@using Vendr.Core;
@using Vendr.DemoStore;
@using Vendr.DemoStore.Models;
@inherits Umbraco.Web.Mvc.UmbracoViewPage<ProductPage>
@{
    Layout = "Page.cshtml";

    var addedProductReference = TempData["addedProductReference"]?.ToString();
}

@section foot {
    @if (!addedProductReference.IsNullOrWhiteSpace())
    {
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                Toastify({
                    text: "Item successfully added to cart",
                    duration: 3000,
                    gravity: "bottom", // `top` or `bottom`
                    position: 'center', // `left`, `center` or `right`
                    backgroundColor: "#4fd1c5",
                    className: "",
                    stopOnFocus: true, // Prevents dismissing of toast on hover
                }).showToast();
            });
        </script>
    }
}

<div class="pt-6">
    <div class="flex mb-4">
        <div class="w-1/2 mr-6">
            <img src="@(Model.PrimaryImage != null ? Url.GetCropUrl(Model.PrimaryImage, 500, 500).ToString() : "https://placehold.it/400x500")" class="border" />
            @if (Model.Images.Count() > 1)
            {
                <div class="flex flex-wrap -mx-2">
                    @foreach (var img in Model.Images)
                    {
                        <a href="#" class="w-1/3 px-2 pt-4"><img src="@Url.GetCropUrl(img, 150, 150).ToString()" class="border" /></a>
                    }
                </div>
            }
        </div>
        <div class="flex-1">
            @using (Html.BeginUmbracoForm("AddToCart", "CartSurface"))
            {
                <div class="py-10">
                    <h1 class="text-2xl font-bold">@Model.Parent.Name - @Model.Name</h1>
                    @if (Model.Variants.Any())
                    {
                        <select name="productReference" class="w-full border border-gray-300 p-2 mt-1">
                            @foreach (var variant in Model.Variants)
                            {
                                <option value="@variant.GetProductReference()" @Html.Raw(addedProductReference == variant.GetProductReference() ? "selected=\"selected\"" : "")>@(variant.Name) - @(variant.CalculatePrice()?.Formatted())</option>
                            }
                        </select>
                    }
                    else
                    {
                        @Html.Hidden("productReference", Model.GetProductReference())

                        <p>@(Model.CalculatePrice()?.Formatted())</p>
                    }
                </div>

                <button class="font-bold border-4 border-gray-900 px-6 py-3 mb-4 w-1/2 hover:bg-teal-400 hover:border-teal-400 hover:text-white" type="submit">Add to Cart</button>
            }
            <div class="flex">
                <a href="#" class="mr-4 hover:text-teal-400"><i class="fa fa-facebook-square"></i> Share it</a>
                <a href="#" class="mr-4 hover:text-teal-400"><i class="fa fa-twitter"></i> Tweet it</a>
                <a href="#" class="mr-4 hover:text-teal-400"><i class="fa fa-pinterest"></i> Pin it</a>
            </div>
        </div>
    </div>
    <hr class="my-6" />
    <div>
        <h2 class="text-2xl font-bold">Description</h2>
        <div class="rte">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec felis ac risus mollis placerat. Pellentesque a sapien nibh. Integer eget diam felis. Suspendisse ligula magna, rhoncus non augue eu, suscipit fermentum eros. Pellentesque sodales mattis erat sit amet iaculis. Sed sollicitudin porttitor tristique. Aenean tempus massa felis, eu bibendum purus pharetra egestas. Vivamus odio tellus, egestas nec nibh vel, porta molestie mi. Curabitur rhoncus ipsum id justo placerat, sit amet varius urna mattis. Proin suscipit vulputate turpis a fermentum. Etiam posuere rhoncus purus.</p>
            <p>Maecenas egestas aliquam massa et facilisis. Donec posuere in sem quis ultricies. Suspendisse consequat tortor a dictum ullamcorper. Nullam nec ex non libero condimentum dapibus ac et ipsum. Nunc accumsan volutpat massa, hendrerit vestibulum mi congue pharetra. Vestibulum porttitor consequat leo, at porta magna consequat quis. Vestibulum sed ante massa. Quisque nec varius arcu. Nam dignissim molestie quam vel pretium. Morbi neque dolor, mollis vel ullamcorper lobortis, pellentesque a lectus. Integer tincidunt lorem quis augue vehicula luctus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam quis nisl id mi mollis vehicula a id ligula. Praesent lacinia est a erat aliquam auctor.</p>
        </div>
    </div>
</div>