@using Vendr.DemoStore.Web;
@using Vendr.Common.Models;
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Http.Extensions; 
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<PagedResult<object>>
@{
    // Helper method to get the raw URL as a Uri object
    Uri GetRawUrl(HttpRequest request)
    {
        return new Uri(request.GetDisplayUrl());
    }
}
@if (Model.TotalPages > 1)
{
    <div class="flex justify-center mt-12">
        @* Prev *@
        @if (Model.PageNumber > 1)
        {
            <a href="@GetRawUrl(Context.Request).AddOrUpdateQueryStringParam(" p", Model.PageNumber - 1)" class="flex-1 bg-gray-300 py-3 px-6 mx-1 hover:bg-teal-400 hover:text-white lg:flex-none"><i class="fa fa-angle-left"></i> Previous</a>
        }
        else
        {
            <span class="flex-1 bg-gray-200 py-3 px-6 mx-1 text-gray-400 lg:flex-none"><i class="fa fa-angle-left"></i> Previous</span>
        }

        <span class="hidden lg:flex lg:justify-center">

            @if (Model.TotalPages <= 7)
            {
                @* All fit so just draw them all *@
                for (var i = 1; i <= Model.TotalPages; i++)
                {
                    if (i == 1)
                    {
                        <a href="@GetRawUrl(Context.Request).RemoveQueryStringParam("p")" class="py-3 px-6 mx-1 hover:bg-teal-400 hover:text-white @(i == Model.PageNumber ? "bg-teal-400 text-white" : "bg-gray-300")">@(i)</a>
                    }
                    else
                    {
                        <a href="@GetRawUrl(Context.Request).AddOrUpdateQueryStringParam("p", i)" class="py-3 px-6 mx-1 hover:bg-teal-400 hover:text-white @(i == Model.PageNumber ? "bg-teal-400 text-white" : "bg-gray-300")">@(i)</a>
                    }
                }
            }
            else
            {
                @* Low End *@
                if (Model.PageNumber < 5)
                {
                    for (var i = 1; i <= 5; i++)
                    {
                        if (i == 1)
                        {
                            <a href="@GetRawUrl(Context.Request).RemoveQueryStringParam("p")" class="bg-gray-300 py-3 px-6 mx-1 hover:bg-teal-400 hover:text-white @(i == Model.PageNumber ? "bg-teal-400 text-white" : "bg-gray-300")">@(i)</a>
                        }
                        else
                        {
                            <a href="@GetRawUrl(Context.Request).AddOrUpdateQueryStringParam("p", i)" class="bg-gray-300 py-3 px-6 mx-1 hover:bg-teal-400 hover:text-white @(i == Model.PageNumber ? "bg-teal-400 text-white" : "bg-gray-300")">@(i)</a>
                        }
                    }
                }
                else
                {
                    <a href="@GetRawUrl(Context.Request).RemoveQueryStringParam("p")" class="bg-gray-300 py-3 px-6 mx-1 hover:bg-teal-400 hover:text-white">1</a>
                    <span class="bg-gray-300 py-3 px-6 mx-1">...</span>
                }

                @* Middle *@
                if (Model.PageNumber >= 5 && Model.PageNumber <= (Model.TotalPages - 4))
                {
                    for (var i = Model.PageNumber - 1; i <= Model.PageNumber + 1; i++)
                    {
                        <a href="@GetRawUrl(Context.Request).AddOrUpdateQueryStringParam("p", i)" class="bg-gray-300 py-3 px-6 mx-1 hover:bg-teal-400 hover:text-white @(i == Model.PageNumber ? "bg-teal-400 text-white" : "bg-gray-300")">@(i)</a>
                    }
                }

                @* High End *@
                if (Model.PageNumber > (Model.TotalPages - 4))
                {
                    for (var i = (Model.TotalPages - 4); i <= Model.TotalPages; i++)
                    {
                        <a href="@GetRawUrl(Context.Request).AddOrUpdateQueryStringParam("p", i)" class="bg-gray-300 py-3 px-6 mx-1 hover:bg-teal-400 hover:text-white @(i == Model.PageNumber ? "bg-teal-400 text-white" : "bg-gray-300")">@(i)</a>
                    }
                }
                else
                {
                    <span class="bg-gray-300 py-3 px-6 mx-1">...</span>
                    <a href="@GetRawUrl(Context.Request).AddOrUpdateQueryStringParam("p", Model.TotalPages)" class="bg-gray-300 py-3 px-6 mx-1 hover:bg-teal-400 hover:text-white">@(Model.TotalPages)</a>
                }
            }
        </span>

        @* Next *@
        @if (Model.PageNumber < Model.TotalPages)
        {
            <a href="@GetRawUrl(Context.Request).AddOrUpdateQueryStringParam("p", Model.PageNumber + 1)" class="flex-1 text-right bg-gray-300 py-3 px-6 mx-1 hover:bg-teal-400 hover:text-white lg:flex-none">Next <i class="fa fa-angle-right"></i></a>
        }
        else
        {
            <span class="flex-1 text-right bg-gray-200 py-3 px-6 mx-1 text-gray-400 lg:flex-none">Next <i class="fa fa-angle-right"></i></span>
        }
    </div>
}
