@using Vendr.Core;
@using Vendr.DemoStore;
@using Vendr.DemoStore.Models;
@inherits Umbraco.Web.Mvc.UmbracoViewPage<IProductGroupComp>

@*<div class="px-3 mt-6 w-1/2 md:w-1/3">
    <a href="@Model.Url" class="text-center hover:text-teal-400">
        <img src="@(Model.PrimaryImage != null ? Url.GetCropUrl(Model.PrimaryImage, 300, 300).ToString() : "https://placehold.it/300x300")" class="border" />
        <span class="block font-bold mt-4">@Model.Parent.Name - @Model.Name</span>
        
    </a>
</div>*@

<a href="@(Model.Url)" class="block relative bg-gray-300 text-white hover:bg-gray-800">
    @if (Model.Image != null)
    {
        <img src="@(Url.GetCropUrl(Model.Image, 200, 200))" class="w-full h-40 object-cover opacity-75" />
    }
    else
    {
        <div class="w-full h-40 bg-teal-400 opacity-75"></div>
    }
    <span class="flex flex-col absolute inset-0 justify-center text-center text-2xl font-bold p-2">@Model.Name</span>
</a>