@using Vendr.DemoStore;
@using Vendr.DemoStore.Models;
@inherits Umbraco.Web.Mvc.UmbracoViewPage<FacetedPagedResult<IPublishedContent>>
@{
    var activeFacet = Request.QueryString["facet"] ?? "all";
}

<ul class="flex justify-between py-2 border-b border-gray-300">
    @if (Model.Facets.ContainsKey("all"))
    {
        <li><a href="?q=@(Request.QueryString["q"])&facet=all" class="@(activeFacet == "all" ? "font-bold" : "")">All (@Model.Facets["all"].TotalItems)</a></li>
    }
    @foreach (var facet in Model.Facets.Where(x => x.Key != "all").OrderBy(x => x.Key))
    {
        <li><a href="?q=@(Request.QueryString["q"])&facet=@(facet.Key)" class="@(activeFacet == facet.Key ? "font-bold" : "")">@facet.Key (@facet.Value.TotalItems)</a></li>
    }
</ul>

@RenderFacet(activeFacet, Model.Facets[activeFacet])


@helper RenderFacet(string name, PagedResult<IPublishedContent> results)
{
    if (results.TotalItems > 0)
    {
        <div class="mt-6">
            @foreach (var item in results.Items.Select((x, i) => new { Result = x, Index = i }))
            {
                <div class="mt-4 @(item.Index > 0 ? "border-t border-gray-300 pt-4" : "")">
                    <h3 class="text-lg font-bold"><a href="@item.Result.Url" class="text-teal-400 hover:text-gray-800 hover:underline">@(item.Index + 1 + ((results.PageNumber - 1) * results.PageSize)).  @(item.Result.Name)</a></h3>
                    <p class="text-sm "><a href="@item.Result.Url" class="text-gray-500 hover:text-gray-800 hover:underline">@item.Result.Url</a></p>
                </div>
            }
        </div>

        @Html.Partial("Pagination", results.Cast<IPublishedContent, object>())
    }
    else
    {
        <h2 class="text-5xl font-bold text-center py-24 text-gray-300">No results found</h2>
    }
}